<div class="table-container">
  <table class="header">
    <tbody>
      <tr>
        <td><h3>Admin Dashboard</h3></td>
      </tr>
    </tbody>
  </table>
  <table class="links">
    <tbody>
      <tr>
        <td><%= link_to "Dashboard", admin_path %>
        <%= link_to "Merchants", admin_merchants_path %>
        <%= link_to "Invoices", admin_invoices_path %></td>
      </tr>
    </tbody>
  </table>
</div>