<h1><center>Update Merchant: <%= @merchant.name%></center></h1>
<%= render partial: "admin/page_head" %>


<%= render partial: 'merchant_form', locals: {
  path: admin_merchant_path(@merchant),
  method: :patch,
  value: @merchant.name
} %>
