<h1><center>Create A New Merchant</center></h1>
<%= render partial: "admin/page_head" %>

<%= render partial: 'merchant_form', locals: {
  path: admin_merchants_path,
  method: :post,
  value: ""
} %>
