<h1><center><%= @merchant.name %> Invoices</center></h1>
<table>
  <thead>
    <tr>
      <th>Invoice ID</th>
    </tr>
  </thead>
  <tbody>
   <% @invoices.each do |invoice| %>
      <tr>
        <td><%= link_to "#{invoice.id}", merchant_invoice_path(@merchant, invoice), method: :get %></td>
      </tr>
    <% end %>
  </tbody>
</table>