<h1><center>Discount Show Page</center></h1>

<center><p>Percentage Discount: <%= @bulk_discount.percentage_discount %>%</p></center>
<center><p>Quantity Threshold: <%= @bulk_discount.quantity_threshold %> </p></center>
<center><%= button_to 'Edit', edit_merchant_bulk_discount_path(@bulk_discount), method: :get %></center>