<h1><center><%= @merchant.name %> Dashboard</center></h1>
<p><center><%= button_to "View Items", "/merchants/#{@merchant.id}/items", method: :get %></center></p><center><%= button_to "View Invoices", "/merchants/#{@merchant.id}/invoices", method: :get %></center>