<h1><center><%= @item.name %></center></h1>

<!--<p><strong>Name:</strong> <%= @item.name %></p>-->
<p><strong>description:</strong> <%= @item.description %></p>
<p><strong>Price:</strong> <%= @item.unit_price %></p>